@{
    ViewBag.Title = "Virtual Fitting Room";
}

<h2>Welcome to the Virtual Fitting Room</h2>

@using (Html.BeginForm("UploadPhoto", "FittingRoom", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="photo">Upload your photo:</label>
        <input type="file" name="photo" id="photo" class="form-control-file" />
    </div>
    <button type="submit" class="btn btn-primary">Upload and Try On</button>
}

